body {
    background-color: whitesmoke;
    color: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    position: absolute;
    height: 3em;
    width: 100%;
    padding: 0.5em;
}
.slider {
    padding-top: 5em;
}
html, 
body {
    height: 100%;
}
section {
    /* border: 1px blue solid; */
    position: relative;
    padding: 1em;
}
textarea,
button {
    padding: 1em;
    border-radius: 1em;
}
textarea {
    width: 100%;
    max-width: 80em;
    height: 16em;
}

textarea::placeholder {
    padding-top: 6em;
}
button {
    display: block;
    color: white;
    background-color: blue;
    font-weight: bold;
}
a.anchor {
    opacity: 0.5;
    text-decoration: none;
    display: none;
}

.bounds .header {
    border: 1px solid green;
}
.bounds section {
    border: 1px solid blue;
}
label {
    display: block;
    border-radius: 0.5em;
    border: 2px inset grey;
    background-color: white;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input[type=checkbox] {
    /* opacity: 0; */
    display: none;
}
input:checked+label {
    background-color: lightblue;
    border: 2px inset cyan;

}
.check {
    display: none;
}
input:checked+label .check {
    display: inline;
}
input:checked+label p {
    border-radius: 0.5em;
    background-color: cyan;
}

@media (prefers-color-scheme: dark) {
/* @media (prefers-color-scheme: light) { */
    body {
        background-color: black;
        color: white;
    }
    a {
        color: cyan;
    }
    a:visited {
        color: pink;
    }
    textarea {
        background-color: #222;
        color: white;
    }
    textarea::placeholder {
        color: gray;
    }
    label {
        background-color: #222;
    }
    input:checked+label {
        background-color: darkblue;
        border: 2px inset blue;
    
    }
    .check {
        display: none;
    }
    input:checked+label .check {
        display: inline;
    }
    input:checked+label p {
        border-radius: 0.5em;
        background-color: blue;
    }
}
@media screen and (max-width: 480px) {
/* @media screen and (max-width: 48000px) { */
    .slider {
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-behavior: auto;
        overflow-x: scroll; 
        /* overflow-x: hidden;  */
        -webkit-overflow-scrolling: touch;
        /* min-height: 100vh; */
        /* min-height: 100%; */
        height: 100%;
        padding-left: 3em;
        padding-right: 3em;
    }
    section {
        min-width: 100vw;
        scroll-snap-align: start;
        padding-left: 3em;
        padding-right: 3em;
        margin-left: -2em;
        margin-right: -2em;
    }
    textarea {
       max-width: 800em;
    }
    button {
        width: 100%;
    }
    a.anchor {
        display: auto;
    }
}